<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandwritingInstituteBillingSystem.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HandwritingInstituteBillingSystem.AppSettings>
            <setting name="MachineUniqueNumberForBilling" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="CurentBillSeqNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CasherName" serializeAs="String">
                <value>John</value>
            </setting>
            <setting name="MinBillAmount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SupportedFontFromPrinter" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="ShowPrintPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaxPercent" serializeAs="String">
                <value>15</value>
            </setting>
        </HandwritingInstituteBillingSystem.AppSettings>
    </userSettings>
</configuration>